---
name: Functional Tests

on: # yamllint disable-line rule:truthy
  pull_request: {}
  push:
    branches:
      - "main"

defaults:
  run:
    shell: sh

jobs:
  package-manager:
    name: Package manager
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        os: ["macos", "ubuntu", "windows"]
        type: ["npm", "yarn", "brew", "scoop"]
        exclude:
          - os: ubuntu
            type: brew
          - os: windows
            type: brew
          - os: ubuntu
            type: scoop
          - os: macos
            type: scoop
    runs-on: ${{ matrix.os }}-latest
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v4
      - name: Setup scoop
        if: ${{ matrix.type == 'scoop' }}
        run: |
          Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
          Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
        shell: pwsh
      - name: Configure yarn
        if: ${{ runner.os == 'Windows' && matrix.type == 'yarn' }}
        run: yarn global bin | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        shell: pwsh
      - name: Install snyk
        run: ./hooks/installation/install-${{ matrix.type }}.sh
      - name: Print version
        run: snyk --version
  standalone:
    name: Standalone
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        os: ["macos", "ubuntu", "windows"]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v4
      - name: Install snyk
        run: ./hooks/installation/install-standalone.sh
      - name: Print version
        run: snyk --version
  standalone-alpine:
    name: Standalone
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        image: ["alpine"]
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}:latest
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v4
      - name: Install tools
        run: apk add curl
      - name: Install snyk
        run: ./hooks/installation/install-standalone.sh
      - name: Print version
        run: snyk --version
