---
name: Functional Tests

on:
  push:
    branches:
      - 'main'
      - 'fix-**'
      - 'feature-**'

jobs:
  functional_tests:
    name: Install snyk
    timeout-minutes: 5
    strategy:
      matrix:
        os: ['macos-latest', 'ubuntu-latest', 'windows-latest']
        type: ['npm', 'yarn']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
      - name: Uninstall yarn (macos-latest)
        if: ${{ matrix.type == 'npm' && matrix.os == 'macos-latest' }}
        run: rm -rf "$HOME/.yarn"
      - name: Uninstall yarn (ubuntu-latest, windows-latest)
        if: ${{ matrix.type == 'npm' && matrix.os != 'macos-latest' }}
        run: npm uninstall -g yarn
      - name: Install snyk (${{ matrix.type }})
        run: ./hooks/_installation.sh
        shell: bash
#      - name: Debug yarn
#        if: ${{ matrix.type == 'yarn' }}
#        run: |
#          yarn global bin
#          yarn global bin | ls
#          echo "Path: $PATH"
#        shell: bash
      - name: Add snyk to PATH
        if: ${{ matrix.os == 'windows-latest' && matrix.type == 'yarn' }}
        run: yarn global bin | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        shell: powershell
      - name: Print version
        run: snyk --version
        shell: bash
