---
name: Functional Tests

on:
  push:
    branches:
      - 'main'
      - 'fix-**'
      - 'feature-**'
      - 'pre-commit-ci-update-config'

jobs:
  package_manager:
    name: Package manager
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        os: ['macos-latest', 'ubuntu-latest', 'windows-latest']
        type: ['npm', 'yarn', 'brew', 'scoop']
        exclude:
          - os: ubuntu-latest
            type: brew
          - os: windows-latest
            type: brew
          - os: ubuntu-latest
            type: scoop
          - os: macos-latest
            type: scoop
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup scoop
        if: ${{ matrix.os == 'windows-latest' && matrix.type == 'scoop' }}
        uses: MinoruSekine/setup-scoop@main
      - name: Configure yarn
        if: ${{ matrix.os == 'windows-latest' && matrix.type == 'yarn' }}
        run: yarn global bin | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        shell: powershell
      - name: Install snyk
        run: ./hooks/installation/install-${{ matrix.type }}.sh
        shell: bash
      - name: Print version
        run: snyk --version
        shell: bash
  standalone:
    name: Standalone
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        os: ['macos-latest', 'ubuntu-latest', 'windows-latest']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Install snyk
        run: ./hooks/installation/install-standalone.sh
        shell: bash
      - name: Print version
        run: snyk --version
        shell: bash
  standalone-container:
    name: Standalone
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        image: ['arm64v8/ubuntu', 'alpine:latest']
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v3
      - name: Install tools
        run: apk add bash curl
        shell: sh
      - name: Install snyk
        run: ./hooks/installation/install-standalone.sh
        shell: bash
      - name: Print version
        run: snyk --version
        shell: bash
